[run]
branch = True
source = vispy
#include = */vispy/*
# Omit fonts/_quartz.py b/c Travis can't test OSX
omit =
    */setup.py
    */vispy/datasets/*
    */vispy/gloo/gl/angle.py
    */vispy/gloo/gl/_angle.py
    */vispy/testing/*
    */vispy/ext/*
    */vispy/util/geometry/_triangulation_debugger.py
    */examples/*
    */vispy/util/fonts/_quartz.py
