[run]
branch = True
source = vispy
#include = */vispy/*
omit =
    */setup.py
    */vispy/datasets/*
    */vispy/gloo/gl/angle.py
    */vispy/gloo/gl/_angle.py
    */vispy/testing/_runners.py
    */vispy/testing/_coverage.py
    */vispy/ext/*.py
    */examples/*
