[run]
branch = True
source = vispy
#include = */vispy/*
omit =
    */setup.py
    */vispy/util/six.py
    */vispy/util/_py24_ordereddict.py
    */vispy/gloo/gl/angle.py
    */vispy/gloo/gl/_angle.py
    */vispy/testing/_runners.py

