*.c
*.so
*.pyc
*.pyo
*.DS_Store
doc/_build
/_website
/_gh-pages
/_images
/_demo-data
.idea
build
dist
MANIFEST
.vispy-coverage*
.coverage*
!.coveragerc
htmlcov
vispy.egg-info
*.swp
.ipynb_checkpoints
.cache/
.eggs/
examples/basics/scene/animation.gif
.pytest_cache/
js/node_modules
js/dist
node_modules/
vispy/static/
vispy/version.py
.vscode
vispy/visuals/text/_sdf_cpu*.pyd