# Add documentation to the source tarball but not in the installation
include doc/Makefile doc/.nojekyll doc/conf.py LICENSE.txt
include doc/*.rst
include vispy.json
recursive-include doc/ext *
recursive-include doc/_static *
recursive-include doc/_templates *
recursive-include vispy/static *.*
